body {
    font-family: 'Manrope', sans-serif;
}

/* footer settings */
html,body {
    height: 100% ;
}

/* PICTURE BOTTOM */

.picture-bottom {
    position:absolute;
    width:100%;
    padding: 0;
    bottom: 0;
    height: 200px;
}

.picture-bottom img {
    width: 1000px;
}


.website-container {
    min-height:100%;
    position:relative;
    height: 100%;
}

/* NAVIGATION */

.navigation {
    font-size: 24px;
    margin-right: 400px;
    /*font-family: 'Lato', sans-serif; 
    font-family: 'Purple Purse', cursive;
    font-family: 'Merriweather', serif;*/

    margin-top: 40px;
}

.navigation-logo {
    font-size: 30px;
    margin-left: 70px;
    margin-top: 20px;
    color: coral !important;
    /* font-family: 'Merriweather', serif; */
}

/* NEWS */


.news-container {
    width: 1200px;
    margin-top: 40px;
    /*font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;*/
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}


.date-author {
    font-size: 14px;
    font-style: italic;
}

.news-title {
    font-size: 40px;
    font-family: 'Frank Ruhl Libre', serif;
    color:  rgb(88, 87, 87);
    font-weight: 300;
}

.news-content {
    margin-top: 20px;
    width: 700px;

}

/* VISION */


/*.vision-container {
    font-family: 'Open Sans', sans-serif;

}*/

.vision-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

.vision-text {
    font-family: 'Handlee', cursive;
    font-size: 32px;
    margin-top: 40px;
    font-family: 'Courgette', cursive;
    font-family: 'Caveat', cursive;
    font-family: 'Dancing Script', cursive;
}

.vision-content {
    margin-top: 40px;

}

.vision-container {
    height: 500px;
}

/* PLAN */

.plan-container {
    margin-top: 40px;
    height: 500px;
}

/*.plan-content {
    font-family: 'Open Sans', sans-serif;
}*/

.plan-content-title {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.plan-content-title-color {
    color: coral;
}

.plan-content-title-italic {
    font-style: italic;
    font-weight: 400;
}

/* CONTACT */

.contact-container {
    width: 800px;
    margin-top: 40px;
    height: 500px;
}

.contact-content {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contact-member-card {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-member-card-name {
    font-size: 30px;
    background: white;
    margin-top: -25px;
    z-index: 200;
    opacity: 1;
    padding: 2px 10px;
    border: solid grey 1px;
}

.avatar {
    width: 200px;
    height: 200px;
    /* border-radius: 50%; */
}

.avatar-talita {
    transform: rotate(90deg);
}


/* FOOTER */

#footer {
    bottom: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    background-color: white;
    color: white;
    text-align: center;
}

#wrapper {
    height: 210px;
    position: relative;
    margin-top: 40px;
}

/* END */

@media screen and (max-width: 320px) {
    .news-container{
        height: 50px;
    }
}
@media screen and (max-width: 480px) {
    .news-container{
        height: 70px;
    }
}
@media screen and (max-width: 600px) {
    .news-container{
        height: 80px;
    }
}

@media screen and (max-width: 768px) {
    .news-container{
        height: 100px;
    }
}

@media screen and (max-width: 900px) {
    .news-container{
        height: 150px;
    }
}

@media screen and (max-width: 1024px) {
    .news-container{
        height: 200px;
    }
}

@media screen and (max-width: 1024px) {
    .news-container{
        height: 250px;
    }
}

@media screen and (max-width: 1600px) {
    .news-container{
        height: 360px;
    }

    .picture-bottom img {
        width: 800px;
    }
    .picture-bottom {
        height: 180px;
    }
    #wrapper {
        height: 200px;
        position: relative;
    }

    .vision-container {
        height: 360px;
    }

    .plan-container {
        height: 360px;
    }

    .contact-container {
        height: 360px;
    }

    .news-container {
        height: 360px;
    }
}